/* src/components/Sidebar.css */

.sidebar {
    width: 15%; /* Adjust width for responsiveness */
    height: 95%;
    background-color: white;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10%; /* Space below the logo */
  }
  
  .book-icon {
    width: 1fr; /* Responsive width for the logo */
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    display: inline;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 5%; /* Space between menu items */
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    color: #1313133f;
    text-decoration: none;
    position: relative; /* For the active indicator */
    font-size: 1.2em;
  }
  
  .nav-item .nav-icon {
    margin-right: 5%; /* Responsive spacing between icon and text */
  }
  
  .nav-text {
    font-size: 1em;
  }
  
  .nav-item.active,
  .nav-item:hover {
    color: #BF5523; /* Change color of text and icon to orange */
  }
  
  .active-indicator {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-20px,-10px); /* Center the indicator */
    width: 3px;
    height: 100%;
    background-color: #BF5523;
    visibility: hidden; /* Hidden by default */
  }
  
  .nav-item.active .active-indicator {
    visibility: visible; /* Show active indicator for the active item */
  }
  
  .logout-container {
    margin-top: auto;
  }
  
  .logout {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 10px;
    color: #13131356;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: large;
  }
  
  .logout:hover {
    color: #BF5523;
  }
  